<nav class="c-pagination" role="pagination">
	<ul class="c-pagination-list">
		<% if (page.prev) { %>
		<li class="c-pagination-list__item c-pagination-list__item--prev">
			<span>Newer Entry</span>
			<a href="<%- url_for(page.prev.path) %>">
			<%- page.prev.title %>
		</a></li>
		<% } %>
		<% if (page.next) { %>
		<li class="c-pagination-list__item c-pagination-list__item--next">
			<span>Older Entry</span>
			<a class="older-posts" href="<%- url_for(page.next.path) %>">
			<%- page.next.title %>
		</a></li>
		<% } %>
	</ul>
</nav>