<!DOCTYPE html>
<html lang="ja">
<%- partial('theme/head') %>
<% if (typeof page.title == 'undefined') { %>
<body id="top" class="home-template">
<% } else { %>
<body id="top" class="post-template">
<% } %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N86CPN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="l-container">
<%- partial('theme/header') %>
<div class="l-body">
<%- body %>
</div>
<%- partial('theme/footer') %>
</div>
</body>
</html>
